*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer_canvas{
    background-image: linear-gradient(to right,#0891b2,black);
    height:auto;
    width: 100vw;
    display: flex;
    flex-direction: row;
}
.canvas-happy{
    width: 22%;
    height: auto;
}
.footer-right-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 78%;
}
.canvas-icons{
    flex:1;
    flex-wrap: wrap;
    display: flex;
    width: 70%;
    flex-direction: row;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
}
.footer-icon-style{
    width: 3.5rem;
    height: 3.5rem;

}
.copyright{
    font-size: 1.3rem;
    font-weight: 400;
    color: white;
   text-align: center;
}
@media only screen and (max-width:980px) {
    
.canvas-happy{
    width:30%;
}
.footer-icon-style{
    width: 2.8rem;
    height: 1.8rem;
}
.copyright{
    font-size: 0.7rem;
    font-weight: 400;
}
}
@media only screen and (max-width:650px) {
    
    .canvas-happy{
        width:40%;
    }
    .footer-icon-style{
        width: 1.4rem;
        height: 1.4rem;
    }
    .copyright{
        font-size: 0.7rem;
        font-weight: 400;
    }
    }