
.login-canvas{
    width: 100vw;
    height: 86vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-paper{
    padding:20px;
    width:60vw;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    display: flex;
    flex-direction: row;
    box-shadow: -12px 1px 14px 11px #8ed1e5c4;
}
.login-form-container{
    width: 25vw;
    display:flex;
    flex-direction: column;
    justify-content:"center";
    align-items:"center";
    padding: 20px;
   
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}
.btn{
    color: blueviolet;
    font-weight: 500;
    background-color: aliceblue;
    padding: 10px;
    width: fit-content;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    font-size: larger;
}
.canvas-image{
    width: 100%;
    height: 100%;
}


@media only screen and (max-width:970px) {
    .login-canvas{
        height: auto;
        padding: 15px 0px;
    }
    .login-paper{
        flex-direction:column-reverse;
        width: 70%;
    }
    .login-form-container{
        width: 70%;
    }
    .form{
        gap: 4px;
    }
}

@media only screen and (max-width:510px) {
    
    .login-paper{
            width: 92%;
    }
    .login-form-container{
        width: 80%;
    }
    
}